{% extends 'index.html.twig' %}

{% block content %}
    <div id="subheader-about">
        <!--<img id="about-d" src="assets/img/back_about_d.png">-->
        <img id="about-m" src="assets/img/back_about_m.png">
        <p>Des questions ? trouvez toutes<br>les réponses dans notre <span>à propos</span></p>
    </div>
    <main id="main-about">
        <div class="section-about" id="services-about">
            <p>Nos services</p>
            <div id="text">Notre entreprise propose des services uniques et variés pour le plaisir de tous, axés autour du véganisme. Nous sommes à l’écoute de nos clients et essayons de répondre au mieux aux besoins des consommateurs.<br><br>Notre service principal consiste à convertir votre liste de courses classique en liste de courses vegan avec la possibilité de rajouter des filtres bio et/ou gluten-free. Nous vous proposons également des services secondaires afin de vous offrir un panel de services complets tels que :</div>
            <div id="panel">
                <div>
                    <img src="assets/img/hat_services.png">
                    <p class="title">Le guide du petit vegan</p>
                    <p class="text">vous propose les indispensables à posséder dans le frigo afin d’obtenir une base alimentaire vegan, selon votre régime nutritionnel.</p>
                </div>
                <div>
                    <img src="assets/img/book_services.png">
                    <p class="title">Des recettes</p>
                    <p class="text">les utilisateurs de “How to Vegan” et nous vous proposons des recettes variées toujours en fonction de vos préférences.</p>
                </div>
                <div>
                    <img src="assets/img/cart_services.png">
                    <p class="title">Nos magasins partenaires</p>
                    <p class="text">après avoir converti votre liste, vous pouvez commander directement en ligne avec nos partenaires et bénéficier de réductions.</p>
                </div>
            </div>
        </div>
        <div id="goal-about">
            <img id="back-goal" src="assets/img/back_goal.png">
            <img id="back-goal-m" src="assets/img/back_goal_m.png">
            <div id="position-leaf">
              <img id="leaf-border-about" src="assets/img/leaf_right_side.png">
            </div>
            <div id="text-goal">
                <p>Notre but</p>
                <div id="goal-text">Notre mission principale est de faciliter la tâche aux personnes qui souhaitent manger vegan. Ensuite, nous souhaitons sensibiliser les non-consommateurs à ce mode de nutrition alternatif. Notre plateforme apportera un gain de temps considérable à ses utilisateurs.<br><br>Nos partenaires nous font confiance, pourquoi pas vous ?</div>
                <div id="green-border"></div>
            </div>
        </div>
        <div id="about-us">
            <p>Notre équipe</p>
            <div id="text-about-us">Notre entreprise propose des services uniques et variés pour le plaisir de tous, axés autour du véganisme. Nous sommes à l’écoute de nos clients et essayons de répondre au mieux aux besoins des consommateurs. Notre service principal consiste à convertir votre liste de courses classique en liste de courses vegan avec la possibilité de rajouter des filtres bio et/ou gluten-free.</div>
            <div id="photo-about">
                <div>
                    <img src="assets/img/photo_clement.png">
                    <p class="name-photo">Clément Caira</p>
                    <p class="job-photo">web developer</p>
                </div>
                <div>
                    <img src="assets/img/photo_cecile.png">
                    <p class="name-photo">Cécile Huguet</p>
                    <p class="job-photo">web developer</p>
                </div>
                <div>
                    <img src="assets/img/photo_antoine.png">
                    <p class="name-photo">Antoine Deguin</p>
                    <p class="job-photo">web developer</p>
                </div>
                <div>
                    <img src="assets/img/photo_carla.png">
                    <p class="name-photo">Carla Ponzio</p>
                    <p class="job-photo">web marketing</p>
                </div>
                <div>
                    <img src="assets/img/photo_samy.png">
                    <p class="name-photo">Samy Bouridah</p>
                    <p class="job-photo">web marketing</p>
                </div>
                <div>
                    <img src="assets/img/photo_clemence.png">
                    <p class="name-photo">Clémence Dewet</p>
                    <p class="job-photo">web designer</p>
                </div>
                <div>
                    <img src="assets/img/photo_rafael.png">
                    <p class="name-photo">Rafael Ornia Blanco</p>
                    <p class="job-photo">web designer</p>
                </div>
                <div>
                    <img src="assets/img/photo_maelle.png">
                    <p class="name-photo">Maëlle Kerangal</p>
                    <p class="job-photo">web designer</p>
                </div>
                <div>
                    <img src="assets/img/photo_anet.png">
                    <p class="name-photo">Anet Michaelnayagam</p>
                    <p class="job-photo">web designer</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}