{% extends 'index.html.twig' %}

{% block content %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxaPLC4-XUze4n35GJezosNnWqNVp9L6k&callback=initMap"></script>        
    <script	src="assets/js/map.min.js"></script>
    
    <main id="main-convert">
        <img src="assets/img/brush.png" alt="brush-text" class="brush blur">
        <img src="assets/img/big_brush.png" alt="brush-text" class="big-brush blur">
        <p class="desc blur">
            How to Vegan est un outil qui vous permet de convertir automatiquement votre liste de
            courses traditionnelle en liste de courses vegan.
            Vous pouvez également ajouter les filtres "bio" et/ou "gluten-free" à votre sélection.
        </p>
        <form name="shoppping-list" id="form-list" class="frame-elt blur">
            <div class="list">
                {% if user.username is defined and user.username is not empty %}
                    <img src="assets/img/pin_list.png" alt="icon pin" id="img-pin" class="open-modal" title="Epingler cette liste">
                {% else %}
                    <img style="visibility: hidden;" src="assets/img/pin_list.png" alt="icon pin" id="img-pin" title="Epingler cette liste">
                {% endif %}
                <ul>
                    <li class="shop-li">
                        <select name="products-list">
                            <option value="NULL">Sélectionnez un produit</option>
                            <optgroup label="Céréales">
                                <option value="Pâtes">Pâtes</option>
                                <option value="Riz">Riz</option>
                                <option value="Maïs">Maïs</option>
                                <option value="Blé">Blé</option>
                                <option value="Corn Flakes">Corn Flakes</option>
                            </optgroup>
                            <optgroup label="Viandes et protéines">
                                <option value="Oeufs">Oeufs</option>
                                <option value="Poisson">Poisson</option>
                                <option value="Viande hachée">Viande hachée</option>
                                <option value="Poulet">Poulet</option>
                                <option value="Steak">Steak</option>
                            </optgroup>
                            <optgroup label="Produits laitiers">
                                <option value="Lait">Lait</option>
                                <option value="Beurre">Beurre</option>
                                <option value="Yaourt">Yaourt</option>
                                <option value="Fromage">Fromage</option>
                            </optgroup>
                            <optgroup label="Fruits">
                                <option value="Pommes">Pommes</option>
                                <option value="Bananes">Bananes</option>
                                <option value="Clémentines">Clémentines</option>
                                <option value="Ananas">Ananas</option>
                            </optgroup>
                            <optgroup label="Légumes">
                                <option value="Tomates">Tomates</option>
                                <option value="Concombre">Concombre</option>
                                <option value="Poireau">Poireau</option>
                                <option value="Courgette">Courgette</option>
                                <option value="Haricots">Haricots</option>
                            </optgroup>
                            <optgroup label="Chocolat">
                                <option value="Chocolat noir">Chocolat noir</option>
                                <option value="Chocolat au lait">Chocolat au lait</option>
                            </optgroup>
                            <optgroup label="Charcuterie"> 
                                <option value="Saucisse">Saucisse</option>
                                <option value="Saucisson">Saucisson</option>
                                <option value="Jambon">Jambon</option>
                            </optgroup>
                            <optgroup label="Assaisonnement">
                                <option value="Huile">Huile</option>
                                <option value="Mayonnaise">Mayonnaise</option>
                                <option value="Moutarde">Moutarde</option>
                                <option value="Ketchup">Ketchup</option>
                            </optgroup>
                            <option value="Bonbons">Bonbons</option>
                        </select>
                    </li>
                    <div id="recap-list"></div>
                </ul>
                <img src="assets/img/delete_list.png" alt="icon delete" id="img-delete" title="Supprimer cette liste">
                <img src="assets/img/leaf.png" alt="leaf" id="img-leaf">
            </div>                
            <div class="convert">
                <span class="filters">
                    <h3>Filtres :</h3>
                    <input type="checkbox" id="filter-bio" value="Bio">
                    <label for="filter-bio" id="label-filter-bio">Bio</label>
                    <input type="checkbox" id="filter-gluten" value="Gluten-free">
                    <label for="filter-gluten" id="label-filter-gluten">Gluten Free</label>
                </span>
                <span class="submit">
                    <h3>
                        <input type="submit" value="Convertir ma liste">
                    </h3>
                    <input type="image" src="assets/img/arrow_convert.png" alt="green arrow" disabled>
                </span>
            </div>
        </form>
        <div class="mapping blur">
            <p class="frame-elt">Situez les boutiques vegan les plus proches de chez vous :</p>
            <div class="localization frame-elt" id="form-localization">
                <input type="text" placeholder="Indiquez votre adresse" id="input-adress">
                <input type="image" src="assets/img/green_arrow.png" id="submit-localization">
            </div>
            <div id="map" class="img-to-resize"></div>
        </div>
    </main>
    <form action="?action=pin" method="POST" name="form-pin" id="form-pin">
        <img src="assets/img/back_modal.png" class="btn-close" alt="close">
        <h3>épingler cette liste</h3>
        <p>Entrez un nom de liste ci-dessous :</p>
        <input type="text" placeholder="Nom" name="listname">
        <input type="hidden" name="list-content">
        <input type="submit" value="épingler">
    </form>
{% endblock %}