<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>How To Vegan</title>
        <script src="scripts/script.js"></script>
    </head>
    <body>
        <form name="shoppping-list">
            <select name="products-list">
                <option value="NULL"></option>
                <option value="Oeufs">Oeufs</option>
                <optgroup label="Céréales">
                    <option value="Pâtes">Pâtes</option>
                    <option value="Riz">Riz</option>
                    <option value="Maïs">Maïs</option>
                    <option value="Blé">Blé</option>
                    <option value="Corn Flakes">Corn Flakes</option>
                </optgroup>
                <optgroup label="Viandes">
                    <option value="Poisson">Poisson</option>
                    <option value="Viande hachée">Viande hachée</option>
                    <option value="Poulet">Poulet</option>
                    <option value="Steak">Steak</option>
                </optgroup>
                <optgroup label="Produits laitiers">
                    <option value="Lait">Lait</option>
                    <option value="Beurre">Beurre</option>
                    <option value="Yaourt">Yaourt</option>
                    <option value="Fromage">Fromage</option>
                </optgroup>
                <optgroup label="Fruits">
                    <option value="Pommes">Pommes</option>
                    <option value="Bananes">Bananes</option>
                    <option value="Clémentines">Clémentines</option>
                </optgroup>
                <optgroup label="Légumes">
                    <option value="Tomates">Tomates</option>
                    <option value="Concombre">Concombre</option>
                    <option value="Poireau">Poireau</option>
                    <option value="Courgette">Courgette</option>
                    <option value="Haricots">Haricots</option>
                </optgroup>
                <optgroup label="Chocolat">
                    <option value="Chocolat noir">Chocolat noir</option>
                    <option value="Chocolat au lait">Chocolat au lait</option>
                    <option value="Chocolat blanc">Chocolat blanc</option>
                </optgroup>
                <optgroup label="Charcuterie"> 
                    <option value="saucisse">Saucisse</option>
                    <option value="saucisson">Saucisson</option>
                </optgroup>
                <optgroup label="Assaisonnement">
                    <option value="huile">Huile</option>
                    <option value="sauce">Sauce</option>
                    <option value="mayonnaise">Mayonnaise</option>
                    <option value="moutarde">Moutarde</option>
                </optgroup>
            </select>
            <a href="#" id="add-product">Ajouter un produit</a>
        </form>
    </body>
</html>