{% extends 'index.html.twig' %}

{% block content %}
    <main id="main-recipe">
        <div class="filters">
            
        </div>
        <div class="spotlight-type" id="spotlight-type-recipe">
            <div class="spotlight-title">
                <img src="assets/img/icon_recipe.png" alt="icon recipe">
                <div>
                    <p>découvrez nos <span>recettes</span></p>
                    <p>sélection de la semaine</p>
                </div>
            </div>
            <div class="spotlight-container-recipe">
                <div class="spotlight-container-img spotlight-recipe">
                    <img class="spotlight-img" src="assets/img/seitan.png" alt="frame picture">
                    <div class="container-desc">
                        <p class="recipe-title">Seitan façon poulet tikka massala</p>
                        <div class="kitchen">
                            <div class="recipe-author">
                                <img src="assets/img/chief.png" alt="chief icon">
                                <div>
                                    <p class="proposed-by">Proposé par</p>
                                    <p class="author">Le staff</p>
                                </div>
                            </div>
                            <div class="category-img">
                                <img src="assets/img/basket_category_vegan.png" alt="icon vegan">
                                <img src="assets/img/basket_category_gluten_free.png" alt="icon gluten free">
                                <img src="assets/img/basket_category_bio.png" alt="icon bio">
                            </div>
                        </div>
                        <div class="time">
                            <img src="assets/img/alarm.png" alt="alarm icon">
                            <p><span>Prep:</span> 15min</p>
                            <p><span>Cuisson:</span> 30min</p>
                            <p><span>Total:</span> 45min</p>
                        </div>
                        <a href="?action=recipe">Voir plus</a>
                    </div>
                </div>
                <div class="spotlight-container-img spotlight-recipe">
                    <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                    <div class="container-desc">
                        <p class="recipe-title">Gâteau coco</p>
                        <div class="kitchen">
                            <div class="recipe-author">
                                <img src="assets/img/chief.png" alt="chief icon">
                                <div>
                                    <p class="proposed-by">Proposé par</p>
                                    <p class="author">Le staff</p>
                                </div>
                            </div>
                            <div class="category-img">
                                <img src="assets/img/basket_category_vegan.png" alt="icon vegan">
                            </div>
                        </div>
                        <div class="time">
                            <img src="assets/img/alarm.png" alt="alarm icon">
                            <p><span>Prep:</span> 15min</p>
                            <p><span>Cuisson:</span> 30min</p>
                            <p><span>Total:</span> 45min</p>
                        </div>
                        <a href="?action=recipe">Voir plus</a>
                    </div>
                </div>
                <div class="spotlight-container-img spotlight-recipe">
                    <img class="spotlight-img" src="assets/img/seitan.png" alt="frame picture">
                    <div class="container-desc">
                        <p class="recipe-title">Seitan façon poulet tikka massala</p>
                        <div class="kitchen">
                            <div class="recipe-author">
                                <img src="assets/img/chief.png" alt="chief icon">
                                <div>
                                    <p class="proposed-by">Proposé par</p>
                                    <p class="author">Le staff</p>
                                </div>
                            </div>
                            <div class="category-img">
                                <img src="assets/img/basket_category_vegan.png" alt="icon vegan">
                                <img src="assets/img/basket_category_gluten_free.png" alt="icon gluten free">
                                <img src="assets/img/basket_category_bio.png" alt="icon bio">
                            </div>
                        </div>
                        <div class="time">
                            <img src="assets/img/alarm.png" alt="alarm icon">
                            <p><span>Prep:</span> 15min</p>
                            <p><span>Cuisson:</span> 30min</p>
                            <p><span>Total:</span> 45min</p>
                        </div>
                        <a href="?action=recipe">Voir plus</a>
                    </div>
                </div>
                <div class="spotlight-container-img spotlight-recipe">
                    <img class="spotlight-img" src="assets/img/cake.png" alt="frame picture">
                    <div class="container-desc">
                        <p class="recipe-title">Gâteau coco</p>
                        <div class="kitchen">
                            <div class="recipe-author">
                                <img src="assets/img/chief.png" alt="chief icon">
                                <div>
                                    <p class="proposed-by">Proposé par</p>
                                    <p class="author">Le staff</p>
                                </div>
                            </div>
                            <div class="category-img">
                                <img src="assets/img/basket_category_vegan.png" alt="icon vegan">
                            </div>
                        </div>
                        <div class="time">
                            <img src="assets/img/alarm.png" alt="alarm icon">
                            <p><span>Prep:</span> 15min</p>
                            <p><span>Cuisson:</span> 30min</p>
                            <p><span>Total:</span> 45min</p>
                        </div>
                        <a href="?action=recipe">Voir plus</a>
                    </div>
                </div>
            </div>
            <a href="?action=recipe">
                <div class="input-discover">
                    <p>Découvrez toutes nos recettes</p>
                    <img src="assets/img/arrow_red.png" alt="red arrow">
                </div>
            </a>
        </div>
    </main>
{% endblock %}