{% extends 'index.html.twig' %}

{% block content %}
    REGISTER PAGE
    <form action="?action=register" method="POST">
        Login : <input type="text" name="username">
        <br>
        Email : <input type="text" name="email">
        <br>
        Password : <input type="password" name="password">
        <br>
        Gender :
        <input type="radio" name="gender" value="female">Femme
        <input type="radio" name="gender" value="male">Homme
        <input type="radio" name="gender" value="other">Autre
        <br>
        Birthdate : <input type="date" name="birthdate">
        <br>
        Adresse : <input type="text" name="address">
        <br><br>
        <input type="submit">
    </form>
{% endblock %}
