#header-about{
    @media screen and (min-width: 641px) {
        background-image: url('../img/bg_about.png');
    }
}

#subheader-about {
    position: relative;
    top: -50px;
    @media screen and (min-width: 641px){
        top: -20px;
    }
    @media screen and (min-width: 769px){
        top: -170px;
    }
    @media screen and (min-width: 1025px){
        top: -210px;
    }

    /*
    #about-d{
        display: none;
        @media screen and (min-width: 641px){
            display: unset;
            margin-top: -20px;
            @include resize(100%, auto);
        }
        @media screen and (min-width: 1251px) {
            margin-top: -50px;
        }
    }
    */

    #about-m{
        @include resize(100%, auto);
        @media screen and (min-width: 376px){
            @include resize(100%, 170px);
        }
        @media screen and (min-width: 641px){
            display: none;
        }
    }

    p{
        @include policy($main-font, $bg-color, 15px);
        letter-spacing: 0.5px;
        @include position(relative, -90px, auto, unset, auto);
        text-align: center;
        text-transform: uppercase;
        @media screen and (min-width: 769px){
            //top: -120px;
            top: 35px;
        }
        @media screen and (min-width: 1025px){
            font-size: 18px;
            top: 50px;
        }

        span{
            @include policy($bold-font, unset, unset);
        }
    }
}

#main-about{
    margin-top: -90px;
    @media screen and (min-width: 641px){
        margin-top: -25px;
    }
    /*
    @media screen and (min-width: 769px){
        margin-top: -220px;
    }
    @media screen and (min-width: 1025px){
        margin-top: -270px;
    }
    */

    .section-about{
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    #services-about{
        @media screen and (min-width: 641px){
            width: 600px;
        }

        > p{
            text-align: center;
            @include policy($main-font, $text-color, 16px);
            margin-bottom: 30px;
            @media screen and (min-width: 641px) {
                font-size: 18px;
            }

            &:after{
                @include resize(55px, 2px);
                @include position(absolute, unset, 0, unset, 0);
                content:'';
                margin: 25px auto;
                background-color: $light-red;
            }
        }

        #text{
            text-align: justify;
            @include policy($text-font, $text-grey, 14px);
            @media screen and (min-width: 641px) {
                font-size: 16px;
            }
        }

        #panel{
            width: 200px;
            margin: 40px auto;
            text-align: center;
            @include flex(column, center, space-between);
            @media screen and (min-width: 376px){
                width: 250px;
            }
            @media screen and (min-width: 641px){
                width: 600px;
                @include flex(row, center, space-between);
                > div{
                    @include flex(column, center, space-between);
                    @include resize(180px, 230px);
                }
            }

            img{
                @include resize(80px, auto);
                @media screen and (min-width: 641px){
                    @include resize(auto, 60px);
                }
            }

            .title{
                @include policy($bold-font, $text-color, 14px);
                text-transform: uppercase;
                width: 100px;
                display: block;
                margin: 0 auto;
                @media screen and (min-width: 641px){
                    margin: 30px auto 7px auto;
                }
            }

            .text{
                @include policy($text-font, $text-grey, 14px);
                text-align: justify;
                margin-bottom: 30px;
                @media screen and (min-width: 641px){
                    margin-bottom: 20px;
                }
            }
        }
    }
    #goal-about{
        margin-top: 40px;
        height: auto;
        @media screen and (min-width: 641px) {
            margin-top: 60px;
        }

        #back-goal{
            display: none;
            @media screen and (min-width: 641px){
                display: unset;
                width: 100%;
            }
        }
        #back-goal-m{
            width: 100%;
            @media screen and (min-width: 641px){
                display: none;
            }
        }

        #text-goal{
            width: 100%;
            top: 1380px;
            display: block;
            position: absolute;
            @media screen and (min-width: 321px){
                top: 1350px;
            }
            @media screen and (min-width: 376px){
                top: 1380px;
            }
            @media screen and (min-width: 641px){
                top: 845px;
            }
            @media screen and (min-width: 769px){
                top: 960px;
            }
            @media screen and (min-width: 1025px){
                top: 1050px;
            }

            > p{
                @include policy($bold-font, white, 16px);
                text-align: center;
                letter-spacing: 0.5px;
                @media screen and (min-width: 641px) {
                    font-size: 18px;
                }
            }

            #goal-text{
                width: 170px;
                text-align: justify;
                @include policy($text-font, $text-color, 14px);
                margin: 20% auto 0 auto;
                display: block;
                padding: 30px 25px;
                background-color: $bg-color;
                z-index: 2;
                position: relative;
                @media screen and (min-width: 321px){
                    width: 200px;
                }
                @media screen and (min-width: 641px){
                    width: 400px;
                    margin-top: 5%;
                    font-size: 15px;
                }
            }

            #green-border{
                @include position(relative, -345px, unset, unset, 14px);
                @include resize(214px, 275px);
                border: 3px solid $dark-green;
                margin: 0 auto;
                display: block;
                z-index: 1;
                @media screen and (min-width: 321px){
                    @include resize(244px, 245px);
                    top: -265px;
                }
                @media screen and (min-width: 641px){
                    @include resize(444px, 160px);
                    top: -210px;
                }
            }
        }

        #position-leaf{
            display: none;
            width: 100%;
            text-align: right;
            margin-top: -65px;
            @media screen and (min-width: 641px){
                display: block;
            }
        }

        #leaf-border-about{
            @include resize(20%, auto);
            @media screen and (min-width: 641px){
                width: 10%;
            }
        }
    }

    #about-us{
        margin-top: 10px;
        @media screen and (min-width: 641px) {
            margin-top: -40px;
            margin-bottom: 25px;
        }
        @media screen and (min-width: 769px) {
            margin-top: -60px;
        }

        > p{
            text-align: center;
            @include policy($main-font, $text-color, 16px);
            margin-bottom: 25px;
            @media screen and (min-width: 641px) {
                font-size: 18px;
            }

            &:after{
                @include resize(55px, 2px);
                @include position(absolute, unset, 0, unset, 0);
                content:'';
                margin: 25px auto;
                background-color: $light-red;
            }
        }

        #text-about-us{
            text-align: justify;
            width: 90%;
            margin: 0 auto;
            display: block;
            @include policy($text-font, $text-grey, 14px);
            @media screen and (min-width: 641px){
                width: 600px;
                font-size: 16px;
            }
        }

        #photo-about{
            @include flex(row, center, center);
            flex-wrap: wrap;
            margin: 30px 0;
            @media screen and (min-width: 641px){
                width: 600px;
                display: block;
                margin: 30px auto;
                @include flex(row, center, center);
            }
            @media screen and (min-width: 769px){
                width: 700px;
            }
            @media screen and (min-width: 1025px){
                width: 750px;
            }

            > div{
                margin: 10px auto;
                display: block;
                text-align: center;
                width: 50%;
                @media screen and (min-width: 641px){
                    width: 200px;
                }

                > img{
                    width: 100px;
                    height: auto;
                    @media screen and (min-width: 321px){
                        width: 120px;
                    }
                    @media screen and (min-width: 641px){
                        width: 140px;
                    }
                }

                .name-photo{
                    @include policy($bold-font, $text-grey, 15px);
                    margin-top: 3px;
                }

                .job-photo{
                    @include policy($light-font, $text-color, 15px);
                    text-transform: uppercase;
                    margin-top: -10px;
                }
            }
        }
    }
}