#main-basket {
    margin-top: 15px;

    #basketImg {
        display: none;
    }
}

.step {
    @include flex(column, center, space-between);
    margin-bottom: 45px;

    > div, table {
        @include policy($light-font, $text-color, 15px);

        span {
            font-family: $bold-font;
        }

        td:first-child, .underTitle {
            display: none;
        }
    }

    .tableBasket {
        display: none;
    }
}

#category {
    @include resize(100%, 325px);

    > div:first-child img{
        display: none;
    }

    .category {
        @include resize(80%, 55px);
        @include flex(row, center, space-between);
        background-color: white;
        border-radius: 30px;
        padding: 0 20px 0 20px;
        box-shadow: 0 0 10px lightgrey;

        p {
            @include policy($main-font, $dark-green, 12px);
            margin: 0;
        }

        .category-names {
            @include flex(row, center, left);
            @include resize(68px, auto);

            .green-border {
                background-color: $dark-green;
                @include resize(3px, 20px);
                margin-right: 5px;
            }
        }

        .category-img {
            @include resize(120px, auto);
            img {
                @include resize(35px, auto);
            }
        }

        > img {
            @include resize(12px, auto);
        }
        .category-arrow{
            display: none;
        }
    }
}

#basket {
    @include resize(100%, auto);

    .basket {
        @include resize(92%, 155px);
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px lightgrey;

        img {
            @include resize(35%, 100%);
        }
        .frameBasket {
            display: none;
        }
        .desc_basket {
            display: none;
        }
        .basket-desc {
            padding: 7px 10px 7px 12px;
            @include policy($main-font, $dark-green, 12px);
            text-align: justify;

            p {
                margin-top: 0;
            }

            .name {
                font-size: 13px;
                letter-spacing: 1.5px;
            }
            .text {
                margin-bottom: 0;
            }
            .portion {
                font-size: 10px;
            }
        }
    }
}

.category-indicator {
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    @include policy($light-font, white, 10px);
}
.category-bio {
    background-color: $light-red;
    width: 20px;
}
.category-gluten-free {
    background-color: $light-green;
    width: 60px;
}

#details {
    .details-title {
        @include policy($light-font, $text-color, 15px);
        margin-bottom: 25px;

        p {
            margin: 0;
        }
        p:nth-child(2) {
            @include policy($light-font, $grey, 14px);
        }
        span {
            font-family: $bold-font;
        }

        hr {
            display: block;
            clear: both;
            @include resize(55%, 1px);
            border: 0;
            margin: 7px 0 0 0;
            background-color: $grey;
        }
    }

    #allIngredients {
        @include flex(column, center, center);
        > p{
            display: none;
        }
    }

    .ingredient {
        display: flex;
        background-color: white;
        @include resize(92%, 100px);
        margin: 10px 0 10px 0;
        box-shadow: 0 0 10px lightgrey;

        img {
            @include resize(100px, 100%);
        }

        .ingredient-desc {
            padding: 5px 10px 5px 12px;

            .ingredient-name {
                @include policy($main-font, $dark-green, 13px);
                margin-top: 0;
            }
            .ingr-text-desc {
                display: none;
            }
            .ingredient-text {
                @include policy($main-font, $dark-green, 12px);
                margin: 0;
            }
        }
    }

    #first-ingr {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #last-ingr {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        img {
            border-bottom-left-radius: 20px;
            border-top-left-radius: 20px;
        }
    }
}

/////////////////////////////////
@media screen and (min-width: 641px) {
    #main-basket {
        margin: 0;

        #basketImg{
          display: block;
          margin: 0 auto;
        }
    }

    .step {
        margin-top: 40px;
        @include flex(row, center, center);
        flex-wrap: wrap;

        .tableBasket{
            display: flex;
        }

        > table {
            width: 100%;
            justify-content: center;
            display: flex;

            img {
                @include resize(42px, 42px);
            }

            td:first-child, .underTitle {
                display: table-cell;
            }

            p {
                text-align: left;
                padding-left: 10px;
                font-size: 18px;
                margin: 0;
            }

            .underTitle {
                width: 100%;
                text-transform: uppercase;
                @include policy($bold-font, $grey, 14px);
            }
        }
    }

    .details-title{
        display: none;
    }

    #category .category {
        @include flex(column, center, space-between);
        @include resize(250px, 150px);
        border-radius: 15px;
        margin: 20px;
        padding: 20px 0 0 0;

        p {
            @include policy($bold-font, $text-color, 14px);
            text-transform: uppercase;
            text-align: center;
        }

        .category-names {
            @include flex(row, center, center);
            width: 50%;

            .green-border {
                display: none;
            }
        }

        .category-img {
            @include resize(190px, auto);
            text-align: center;

            img {
                @include resize(50px, auto);
            }
        }
        > img{
            display: none;
        }
        .category-arrow{
            display: flex;
            background-color: $dark-green;
            width: 250px;
            padding: 5px 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            > img{
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
    }
    #basket {
      margin-top: 200px;
      color: red;
        .basket {
            @include resize(200px, 250px);
            margin: 25px 50px;
            border-radius: unset;
            background-color: unset;
            box-shadow: unset;


            .basket-desc, > img, .popButtons div {
                display: none;
            }
            img{
                @include resize(100%, 100%);
                border-radius: 5px;
            }
            &:hover{
                box-shadow: 0 0 10px lightgrey;

                .desc_basket .popButtons div{
                    background-color: white;
                    display: unset;
                }
            }
            .desc_basket{
                @include flex(column, center, space-around);
                background: url('../img/frame_basket.png') no-repeat;
                background-size: 200px 250px;
                width: 100%;
                .popButtons{
                    @include flex(row, center, center);
                    @include resize(80px, 40px);
                    margin-top: 10px;

                    div{
                        @include resize(60%, 60%);
                        margin: 0 1px;
                        padding: 5px 10px;
                        position: relative;
                        float: left;
                        img{
                            margin-top: 5px;
                            @include resize(15px, 15px);
                        }
                        &:first-child{
                            border-bottom-left-radius: 12px;
                            border-top-left-radius: 12px;
                            box-shadow: -3px 0 10px lightgrey;
                        }
                        &:last-child{
                            border-bottom-right-radius: 12px;
                            border-top-right-radius: 12px;
                            box-shadow: 3px 0 10px lightgrey;
                        }
                    }
                }
                > img{
                    @include resize(auto, auto);
                    max-height: 70px;
                }
                .basketPrice{
                    margin: 0;
                    @include policy($bold-font, $dark-green, unset);
                }
                .name{
                    margin:0;
                }
                > div:last-child{
                    text-align: center;
                    div{
                        display: inline-block;
                    }
                }
            }


        }
    }
    #details {
        .details-title {
            margin-bottom: 25px;

            p {
                margin: 0;
            }
            span {
                font-family: $bold-font;
            }

            hr {
                display: block;
                clear: both;
                @include resize(55%, 1px);
                border: 0;
                margin: 7px 0 0 0;
                background-color: $grey;
            }
        }
        #first-ingr {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }

        #last-ingr {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        #allIngredients{
            background-color: $bg-grey;
            @include resize(80%, unset);
            @include flex(row, center, center);
            flex-wrap: wrap;
            margin-top: 50px;
            border-radius: 30px;
            > p{
                display: unset;
                width: 90%;
                @include policy($bold-font, unset, 14px);
                text-transform: uppercase;
                margin-bottom: 30px;
                span{
                    border-bottom: 2px solid $light-red;
                    padding-bottom: 4px;
                }
            }
        }
        .ingredient {
            display: flex;
            background-color: white;
            @include resize(420px, 120px);
            margin: 30px 10px;
            box-shadow: 0 0 10px lightgrey;
            border-radius: 15px;

            img {
                border-bottom-left-radius: 15px;
                border-top-left-radius: 15px;
            }

            .ingredient-desc {
                padding: 5px 10px 5px 12px;

                .ingredient-name {
                    @include policy($main-font, $text-color, 14px);
                    font-style: italic;
                    margin-top: 0;
                    position: relative;
                    top: -30px;
                    left: -100px;
                }
                .ingr-text-desc{
                    @include policy($main-font, unset, 13px);
                    text-transform: uppercase;
                    top: -20px;
                    display: unset;
                    position: relative;
                }
                .ingredient-text {
                    @include policy($main-font, $grey, 12px);
                    margin-top: -10px;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    #category{
        @include resize(90%, 325px);
        margin: 0 5%;
    }
    #details #allIngredients{
        @include resize(80%, unset);
    }
}
@media screen and (min-width: 1025px) {
    #category{
        @include resize(90%, auto);
        margin: 0 5%;
    }
    #basket{
        margin-top: 40px;
    }
    #details #allIngredients{
        @include resize(90%, unset);
    }
}