#header-convert {
    @media screen and (min-width: 641px) {
        background-image: url('../img/bg_convert.png');
    }
}

#main-convert {
    @include flex(column, unset, space-between);
    @media screen and (min-width: 641px) {    
        @include resize(310px, auto);
        margin: 20px auto 50px 50%;   
        .frame-elt {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media screen and (min-width: 769px) {
        margin: 0 auto 50px 55%;
    }

    .brush {
        width: 300px;
        margin: 0 auto 0 auto;
        @media screen and (min-width: 641px) {
            display: none;
        }
    }

    .big-brush {
        display: none;
        @media screen and (min-width: 641px) {
            display: block;
            @include position(absolute, 25%, initial, initial, 53%);
            width: 300px;
        }
        @media screen and (min-width: 769px) {
            width: 350px;
            @include position(absolute, 34%, initial, initial, 55%);
        }
        @media screen and (min-width: 1025px) {
            @include position(absolute, 40%, initial, initial, 60%);   
        }
    }

    p.desc {
        text-align: justify;
        margin: 0px 10%;
        @include policy($text-italic-font, $text-color, 16px);
        font-style: italic;
        @media screen and (min-width: 641px) {
            margin: 0;
        }
    }
}

#form-list {
    margin: 50px 0px;
    @media screen and (min-width: 641px) {
        margin: 0;
        @include position(absolute, 23%, 0, 0, 5%);
    }
    @media screen and (min-width: 769px) {
        @include position(absolute, 25%, 0, 0, 6%);
    }
    @media screen and (min-width: 1025px) {
        @include position(absolute, 28%, 0, 0, 15%);
    }
}

#form-pin {
    display: none;
    @include resize(300px, 200px);
    top: 30%;
    left: 3%;
    position: fixed;
    z-index: 5;
    background-color: white;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 321px) {
        left: 10%;
    }
    @media screen and (min-width: 376px) {
        left: 15%;
    }
    @media screen and (min-width: 641px) {
        left: 32%;
    }
    @media screen and (min-width: 769px) {
        left: 36%;
    }
    @media screen and (min-width: 1025px) {
        left: 40%;
    }

    h3 {
        @include policy($semibold-font, $text-color, 16px);
        text-transform: uppercase;
        margin-top: 0;
    }

    .btn-close {
        width: 30px;
        margin: 5px auto 0 5px;
    }

    input[type="text"], p {
        @include policy($main-font, $text-color, 14px);
    }

    input[type="text"] {
        border: 1px solid lightgrey;
        border-radius: 3px;
        padding-left: 5px;
        width: 100px;
    }

    input[type="submit"] {
        @include policy($main-font, white, 14px);
        text-align: center;
        padding: 4px;
        background: linear-gradient(to bottom, #ff9c33, #ef7205);
        width: 100px;
        height: auto;
        border-radius: 5px;
        margin-bottom: 7px;
        margin-top: 20px;
        text-transform: uppercase;
    }
}

.list {
    height: 550px;
    background: url('../img/list.png') no-repeat;
    background-size: 95% auto;
    background-origin: border-box;
    @include flex(column, unset, space-between);
    @include policy($list-font, $text-color, 20px);
    @media screen and (min-width: 376px) {
        @include resize(300px, 400px);
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 641px) {
        margin-left: 0;
        margin-right: 0;
    }
    @media screen and (min-width: 769px) {
        @include resize(380px, 510px);
    }

    img:not(#img-leaf) {
        @include resize(22px, auto);
    }

    #img-pin {
        @include position(relative, 8%, 0, 0, 80%);
        @media screen and (min-width: 376px) {
            @include position(relative, 11%, 0, 0, 81%);
        }
    }

    #img-delete {
        position: absolute;
        margin-left: 80%;
        margin-top: 112%;
        width: 60px;
        @include flex(row, center, space-between);
        @media screen and (min-width: 376px) {
            margin-top: 332px;
            margin-left: 240px;
        }
        @media screen and (min-width: 769px) {
            margin-top: 430px;
            margin-left: 310px;
        }
    }

    ul {
        margin: 23px 12px auto 15px;
        height: 315px;
        overflow-y: scroll;
        @media screen and (min-width: 321px) {
            margin-left: 20px;
            margin-top: 34px;
            height: 350px;
        }
        @media screen and (min-width: 376px) {
            margin: 44px 15px auto 14px;
            margin-top: 38px;
            height: 400px;
        }
        @media screen and (min-width: 641px) {
            margin: 38px 28px auto 15px;
            height: 295px;
        }
        @media screen and (min-width: 769px) {
            margin: 34px 35px auto 22px;
            select {
                font-size: 20px;
            }
        }

        .shop-li {
            margin-bottom: 9px;
            @media screen and (min-width: 321px) {
                margin-bottom: 17px;
            }
            @media screen and (min-width: 376px) {
                margin-bottom: 7px;
            }
            @media screen and (min-width: 769px) {
                margin-bottom: 18px;
            }
        }

        .result-li {
            @include policy($list-font, $text-color, inherit);
            letter-spacing: 2px;
            margin-bottom: 11px;
            @media screen and (min-width: 321px) {
                margin-bottom: 19px;
            }
            @media screen and (min-width: 376px) {
                margin-bottom: 9px;
            }
        }

        select {
            background-color: transparent;
            border: none;
            @include policy($list-font, $text-color, 20px);
            letter-spacing: 2px;
        }    
    }
    
    ul::-webkit-scrollbar {
        width: 5px;
    }
    //::-webkit-scrollbar-button
    ul::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
    //::-webkit-scrollbar-track-piece
    ul::-webkit-scrollbar-thumb {
        background-color: #8BC34A;
        border-radius: 10px;
    }
    //::-webkit-scrollbar-corner
    //::-webkit-resizer
}

#img-leaf {
    @include resize(100px, auto);
    @include position(relative, -110px, 0, 0, -15px);
    @media screen and (min-width: 321px) {
        bottom: 25px;
    }
    @media screen and (min-width: 376px) {
        bottom: 0;
        top: 20px;
    }
    @media screen and (min-width: 769px) {
        @include resize(150px, auto);
        @include position(relative, 60px, 0, 0, -40px);
    }
}

.convert {
    @include resize(210px, 100px);
    margin: -110px 30px 0 auto;
    @media screen and (min-width: 321px) {
        margin-top: -50px;
    }
    @media screen and (min-width: 376px) {
        margin-top: 0;
        margin-right: 85px;        
    }
    @media screen and (min-width: 641px) {
        margin-left: 60px;
    }
    @media screen and (min-width: 769px) {
        margin-left: 17%;
    }
    @media screen and (min-width: 1025px) {
        margin: 0;
        margin-left: 11%;
    }

    .filters, .submit {
        @include flex(row, center, space-between);

        h3, input[type="submit"] {
            text-transform: uppercase;
            @include policy($main-font, $text-color, 16px);
        }

        input[type="checkbox"] {
            display: none;
        }

        label {
            background-color: #e6e6e6;
            border: 1px solid #c9c9c9;
            border-radius: 5px;
            padding: 4px 10px;
            @include policy($main-font, $text-color, 14px);
        }

        input[type="checkbox"]:checked + label,
        input[type="checkbox"] + label:active {
            color: white;
            border-color: transparent;
        }
        input[type="checkbox"]:checked + #label-filter-bio,
        input[type="checkbox"] + #label-filter-bio:active {
            background-color: $light-red;            
        }
        input[type="checkbox"]:checked + #label-filter-gluten,
        input[type="checkbox"] + #label-filter-gluten:active {
            background-color: $light-green;            
        }
    }

    .submit {
        @include input(1.5px, inherit, $dark-green, 5px);
        padding: 5px ;
        text-align: left;

        h3 {
            margin: 0;       
        }

        input[type="submit"] {
            @include policy($semibold-font, inherit, 14px);
            font-weight: inherit;
            font-style: inherit;
            letter-spacing: 1px;
        }

        input[type="image"] {
            @include resize(30px, auto);
            @include position(relative, 0, 5px, 0, 0);
        }
    }
}

.mapping {
    p {
        @include policy($main-font, $text-color, 16px);
        @media screen and (min-width: 641px) {
            margin-top: 50px;
        }
    }

    #form-localization {
        @include flex(row, center, left);
        @include input(1px, #cdcdcd, #cdcdcd, 1px);
        padding: 5px;
        margin-bottom: 30px;
        @media screen and (min-width: 641px) {
            margin-bottom: 15px;
        }
    }

    input[type="text"] {
        border: none;
        text-align: left;
        @include policy($light-font, #444444, 16px);
        @include resize(100%, auto);
        z-index: 2;
    }

    input[type="image"] {
        @include resize(20px, auto);
        z-index: 10;
    }

    #map {
        @include resize(auto, 300px);
        @media screen and (min-width: 641px) {
            @include resize(auto, 220px);
        }
    }
}