#header-convert {
    @media screen and (min-width: 641px) {
        background-image: url('../img/bg_convert.png');
    }
}

#main-convert {
    @include flex(column, unset, space-between);
    @media screen and (min-width: 641px) {    
        @include resize(310px, auto);
        margin: 20px auto 50px 50%;   
        .frame-elt {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media screen and (min-width: 769px) {
        margin: 0 auto 50px 55%;
    }

    .brush {
        width: 300px;
        margin: 0 auto 0 auto;
        @media screen and (min-width: 641px) {
            display: none;
        }
    }

    .big-brush {
        display: none;
        @media screen and (min-width: 641px) {
            display: block;
            @include position(absolute, 25%, initial, initial, 53%);
            width: 300px;
        }
        @media screen and (min-width: 769px) {
            width: 350px;
            @include position(absolute, 34%, initial, initial, 55%);

            @media screen and (min-width: 1025px) {
                @include position(absolute, 38%, initial, initial, 60%);   
            }
        }
    }

    p.desc {
        text-align: justify;
        margin: 0px 10%;
        @include policy($text-italic-font, $text-color, 16px);
        font-style: italic;
        @media screen and (min-width: 641px) {
            margin: 0;
        }
    }
}

#form-list {
    margin: 50px 0px;
    @media screen and (min-width: 641px) {
        margin: 0;
        @include position(absolute, 23%, 0, 0, 5%);
    }
    @media screen and (min-width: 769px) {
        @include position(absolute, 25%, 0, 0, 6%);
    }
    @media screen and (min-width: 1025px) {
        @include position(absolute, 25%, 0, 0, 15%); 
        top: 22%;
    }
}

.list {
    height: 550px;
    background: url('../img/list.png') no-repeat;
    background-size: 95% auto;
    background-origin: border-box;
    @include flex(column, unset, space-between);
    @include policy($list-font, $text-color, 20px);
    @media screen and (min-width: 376px) {
        height: 562px;
    }
    @media screen and (min-width: 641px) {
        @include resize(300px, 400px);
    }
    @media screen and (min-width: 769px) {
        @include resize(380px, 510px);
    }

    img:not(#img-leaf) {
        @include resize(22px, auto);
    }

    #img-pin {
        @include position(relative, 8%, 0, 0, 80%);
        @media screen and (min-width: 376px) {
            @include position(relative, 11%, 0, 0, 81%);
        }
    }

    #img-delete-skip {
        position: absolute;
        margin-left: 68%;
        margin-top: 112%;
        width: 60px;
        @include flex(row, center, space-between);
        @media screen and (min-width: 321px) {
            margin-left: 70%;
        }
        @media screen and (min-width: 376px) {
            margin-top: 114%;
            margin-left: 73%;
        }
        @media screen and (min-width: 376px) {
            margin-top: 46%;
            margin-left: 28%;
        }
        @media screen and (min-width: 769px) {
            margin-top: 45%;
            margin-left: 28.5%;
        }
        @media screen and (min-width: 1025px) {
            margin-top: 38%;
            margin-left: 24%;   
        }
    }

    ul {
        margin: 23px 0 auto 15px;
        @media screen and (min-width: 321px) {
            margin-left: 20px;
            margin-top: 35px;
        }
        @media screen and (min-width: 376px) {
            margin-left: 25px;
            margin-top: 44px;
        }
        @media screen and (min-width: 641px) {
            margin-left: 15px;
            margin-top: 38px;
        }
        @media screen and (min-width: 769px) {
            margin-left: 22px;
            margin-top: 34px;
            select {
                font-size: 20px;
            }
        }

        .shop-li {
            //margin-bottom: 23px;
        }

        .result-li {
            @include policy($list-font, $text-color, inherit);
            //margin-bottom: 21.5px;
            letter-spacing: 2px;
        }

        select {
            background-color: transparent;
            border: none;
            @include policy($list-font, $text-color, 18px);
            letter-spacing: 2px;
        }    
    }
    
}

#img-leaf {
    @include resize(100px, auto);
    @include position(relative, initial, 0, 90px, 0);
    @media screen and (min-width: 321px) {
        bottom: 25px;
    }
    @media screen and (min-width: 376px) {
        bottom: 0;
        top: 20px;
    }
    @media screen and (min-width: 769px) {
        @include resize(150px, auto);
        @include position(relative, 60px, 0, 0, -40px);
    }
}

.convert {
    @include resize(210px, 100px);
    margin: -110px 30px 0 auto;
    @media screen and (min-width: 321px) {
        margin-top: -50px;
    }
    @media screen and (min-width: 376px) {
        margin-top: 0;
    }
    @media screen and (min-width: 641px) {
        margin-left: 60px;
    }
    @media screen and (min-width: 769px) {
        margin-left: 17%;
    }
    @media screen and (min-width: 1025px) {
        margin: 0;
        margin-left: 11%;
    }

    .filters, .submit {
        @include flex(row, center, space-between);

        h3, input[type="submit"] {
            text-transform: uppercase;
            @include policy($main-font, $text-color, 16px);
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked + label,
        input[type="checkbox"] + label:active {
            color: white;
            background-color: $light-green;
            border-color: transparent;
        }

        label {
            background-color: #e6e6e6;
            border: 1px solid #c9c9c9;
            border-radius: 5px;
            padding: 5px 10px;
            @include policy($main-font, $text-color, 14px);
        }
    }

    .submit {
        @include input(2px, inherit, $dark-green, 5px);
        padding: 5px ;
        text-align: left;

        h3 {
            margin: 0;       
        }

        input[type="submit"] {
            @include policy($semibold-font, inherit, 14px);
            font-weight: inherit;
            font-style: inherit;
            letter-spacing: 1px;
        }

        input[type="image"] {
            @include resize(30px, auto);
            @include position(relative, 0, 5px, 0, 0);
        }
    }
}


.mapping {
    p {
        @include policy($main-font, $text-color, 16px);
        @media screen and (min-width: 641px) {
            margin-top: 50px;
        }
    }

    #form-localization {
        @include flex(row, center, left);
        @include input(1px, #cdcdcd, #cdcdcd, 1px);
        padding: 5px;
        margin-bottom: 30px;
        @media screen and (min-width: 641px) {
            margin-bottom: 15px;
        }
    }

    input[type="text"] {
        border: none;
        text-align: left;
        @include policy($light-font, #444444, 16px);
        @include resize(100%, auto);
        z-index: 2;
    }

    input[type="image"] {
        @include resize(20px, auto);
    }

    #map {
        @include resize(auto, 300px);
        @media screen and (min-width: 641px) {
            @include resize(auto, 220px);
        }
    }
}