#header-home {
    @media screen and (min-width: 641px) {
        background-image: url('../img/bg_home.png');
        height: 325px;
    }
    @media screen and (min-width: 769px) {
        height: 425px;
    }
    @media screen and (min-width: 1025px) {
        height: 500px;
    }
}

#main-home {
    .rslides {
        position: absolute;
        padding: 0;
        top: 75%;
        @media screen and (min-width: 321px) {
            top: 70%;
        }
        @media screen and (min-width: 376px) {
            top: 65%;
        }
        @media screen and (min-width: 426px) {
            top: 60%;
        }
        @media screen and (min-width: 641px) {
            width: 450px;
            top: 75px;
            right: 0;
        }
        @media screen and (min-width: 769px) {
            width: 550px;
            top: 50px;
        }
        @media screen and (min-width: 1025px) {
            width: 650px;
            top: 35px;
        }

        li {
            list-style-type: none;
        }
        img {
            width: 100%;
        }
    }

    #leaf-side {
        display: none;
        width: 100px;
        position: absolute;
        top: 1385px;
        right: 0;
        @media screen and (min-width: 641px) {
            display: block;
        }
        @media screen and (min-width: 769px) {
            top: 1515px;
        }
        @media screen and (min-width: 1025px) {
            top: 1590px;
        }
    }
}

.presentation {
    @media screen and (min-width: 641px) {
        @include resize(300px, 360px);
        margin-top: -100px;
        margin-left: 5%;
    }
    @media screen and (min-width: 769px) {
        @include flex(row, center, space-between);
        @include resize(600px, auto);
        margin-left: 0;
        margin-top: -125px;
    }
    @media screen and (min-width: 1025px) {
        @include resize(690px, auto);
    }

    img {
        display: none;
        @media screen and (min-width: 1025px) {
            display: block;
            @include resize(300px, auto);
        }
    }

    div {
        padding: 20px;
        @media screen and (min-width: 769px) {
            width: 350px;
            padding-left: 100px;
        }
        @media screen and (min-width: 1025px) {
            padding-left: 0;
        }
        @media screen and (min-width: 1025px) {
            margin-right: 35px;
        }

        p:first-child {
            @include policy($light-font, $text-color, 18px);
            font-weight: bold;

            span {
                @include policy($semibold-font, $light-red, 18px);
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        p:nth-child(2) {
            @include policy($text-italic-font, $text-color, 16px);
            text-align: justify;
            margin-bottom: 25px;

        }
        a {
            @include policy($semibold-font, $text-color, 14px);
            letter-spacing: 1px;
            border: 1.5px solid $light-red;
            border-radius: 3px;
            padding: 7px;
            text-transform: uppercase;
        }
    }
}

.spotlight-type {
    .spotlight-title {
        @include flex(row, center, space-between);
        @include resize(250px, auto);
        margin-left: auto;
        margin-right: auto;

        img {
            @include resize(45px, auto);
        }

        div {
            @include flex(column, center, space-between);
            @include resize(100%, 40px);

            p {
                margin: 0;
            }
            p:first-child {
                @include policy($light-font, $text-color, 16px);
                span {
                    font-family: $semibold-font;
                }
            }
            p:last-child {
                @include policy($semibold-font, $grey, 12px);
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
}

.spotlight-container-basket {
    @include flex(row, center, center);
    flex-wrap: wrap;
    max-width: 665px;
    @media screen and (min-width: 769px) {
        max-width: 715px;
    }

    .spotlight-img {
        @include resize(100%, 50%);
    }
    .spotlight-container-img-basket{
        display: flex;
        @include resize(200px, 250px);
        margin: 25px 20px;

        .spotlight-frame{
        	  @include flex(column, center, space-around);
            background: url('../img/frame_basket.png') no-repeat;
            background-size: 200px 250px;
            width: 100%;

            > img {
                display: block;
                @include resize(auto, auto);
                max-height: 70px;
                margin: 30px 0;
            }

            .price{
                margin: 0;
                @include policy($semibold-font, $dark-green, unset);
            }

            .name{
                margin: 0;
                @include policy($main-font, $text-color, 15px);
            }

            > div:last-child {
                text-align: center;
                div {
                    display: inline-block;
                }
            }

            &:hover, &:active{
                box-shadow: 0 0 10px lightgrey;
            }

            .category-indicator {
                padding: 3px;
                border-radius: 10px;
                text-align: center;
                @include policy($light-font, white, 10px);
            }

            .category-bio {
                background-color: $light-red;
                width: 20px;
            }

            .category-gluten-free {
                background-color: $light-green;
                width: 60px;
            }
        }
    }
}

.spotlight-container-img {
    @include resize(130px, 180px);
    @include flex(column, center, unset);
    background-color: white;
    border-radius: 5px;
    margin: 25px 10px 0 10px;
    padding: 3px;
    @media screen and (min-width: 641px) {
        margin: 60px 18px 0 18px;
    }
    @media screen and (min-width: 769px) {
        @include resize(195px, 215px);
    }

    .container-category-indicator {
        @include flex(row, center, space-between);
        @include resize(100px, auto);
        align-self: flex-start;
        @media screen and (min-width: 769px) {
            margin-left: 10px;
        }

        .category-indicator {
            @media screen and (min-width: 769px) {
                font-size: 12px;
                padding: 4px;
            }
        }
    }
}
.spotlight-container-img:hover {
    box-shadow: 0 0 20px lightgrey;
}

.input-discover {
    padding: 0 15px;
    margin: 30px auto 10px auto;
    border: 1.5px solid $light-red;
    border-radius: 2px;
    @include resize(220px, 25px);
    @include flex(row, center, space-between);
    @media screen and (min-width: 641px) {
        margin: 50px auto 20px auto;
    }

    p {
        @include policy($semibold-font, $text-color, 14px);
        margin: 0;
    }
    img {
        @include resize(30px, auto);
    }
}

.spotlight-container-recipe {
    @include flex(row, center, center);
    flex-wrap: wrap;
    max-width: 665px;
    @media screen and (min-width: 769px) {
        max-width: 800px;
    }

    .spotlight-recipe {
        padding: 0;
        height: 200px;
        justify-content: center;
        @media screen and (min-width: 769px) {
            @include resize(200px, 290px);
        }

        .spotlight-img {
            @include resize(100%, 100px);
            margin-bottom: auto;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            // background-image set in inline style with Twig
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            @media screen and (min-width: 769px) {
                height: 130px;
            }
        }

        .recipe-title {
            margin: 0;
            @include policy($semibold-font, $text-color, 12px);
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            @media screen and (min-width: 769px) {
                font-size: 14px;
            }
        }

        .category-img {
            margin: auto;
            @media screen and (min-width: 769px) {
                margin: 0;
            }
            @media screen and (min-width: 1025px) {
                margin: 0;
            }

            img {
                @include resize(27px, auto);
            }
        }

        a {
            @include policy($main-font, white, 11px);
            text-align: center;
            padding: 4px;
            background: linear-gradient(to bottom, #ff9c33, #ef7205);
            @include resize(75px, auto);
            border-radius: 5px;
            margin-bottom: 7px;
            @media screen and (min-width: 641px) {
                font-size: 12px;
            }
            @media screen and (min-width: 769px) {
                font-size: 13px;
            }
        }
    }
}

.container-desc {
    @include flex(column, center, space-between);
    @include resize(100%, 57%);
    @media screen and (min-width: 769px) {
        @include resize(95%, 55%);
    }

    .kitchen  {
        @include flex(row, center, space-between);
        width: 95%;

        .recipe-author {
            display: none;
            @media screen and (min-width: 769px) {
                @include flex(row, center, space-between);
            }

            img {
                margin-right: 2px;
            }
            p {
                margin: 0;
            }
            .proposed-by {
                @include policy($light-font, $grey, 11px);
            }
            .author {
                @include policy($semibold-font, $text-color, 12px);
                text-transform: uppercase;
            }
        }
    }

    .time {
        display: none;
        @media screen and (min-width: 769px) {
            @include flex(row, center, space-between);
        }

        img {
            margin-left: 5px;
        }

        p {
            margin: 0;
            text-align: center;
            @include policy($semibold-font, $text-color, 11px);
            span {
                text-transform: uppercase;
            }
        }
    }
}

#spotlight-type-basket, #spotlight-type-recipe {
    padding: 25px 0;
    @include flex(column, center, center);
}

#spotlight-type-basket {
    margin-top: 340px;
    background-color: $bg-grey;
    @media screen and (min-width: 321px) {
        margin-top: 400px;
    }
    @media screen and (min-width: 376px) {
        margin-top: 450px;
    }
    @media screen and (min-width: 426px) {
        margin-top: 550px;
    }
    @media screen and (min-width: 641px) {
        padding-top: 80px;
        margin-top: 15px;
        background-color: initial;
        background-image: url('../img/bg_spotlight_basket.png');
    }
    @media screen and (min-width: 769px) {
        margin-top: 130px;
        padding-top: 100px;
    }
}

#spotlight-type-recipe {
    @media screen and (min-width: 641px) {
        padding-top: 50px;
    }
}
