@import 'partials/mixin';
@import 'partials/fonts';
@import 'partials/var';

@import 'pages/convert';
@import 'pages/basket';
@import 'pages/home';
@import 'pages/recipe';

////////////////////////////////////

html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    margin: 0;
    background-color: $bg-color;

    a {
        text-decoration: none;
    }

    input, button {
        border: none;
        background-color: transparent;
    }

    button, a, input[type="submit"], input[type="image"] {
        cursor: pointer;
    }

    .img-to-resize {
        width: 100%;
    }
}

header {
    background: transparent url('../img/bg_menu.png') no-repeat;
    background-size: 100% 100%;
    @include flex(column, center, space-around, nowrap);
    height: 180px;
    padding-bottom: 20px;
    @media screen and (min-width: 641px) {
        background-image: url('../img/bg_menu_desktop.png');
        height: 250px;
        flex-direction: row;
        padding: 0;
    }
    @media screen and (min-width: 769px) {
        height: 330px;
    }
    @media screen and (min-width: 1025px) {
        height: 400px;
    }

    .icons-menu {
        margin-top: -15px;
        @include flex(row, center, center, nowrap);
        @media screen and (min-width: 641px) {
            display: none;
        }
        
        .btn-menu {
            position: absolute;
            @include resize(20px, auto);
            right: 40px;
        }

        .btn-menu + a {
            display: none;
            @include policy($main-font, white, 16px, unset, unset);
        }
    }

    .btn-menu + a {
        text-transform: none;
        @include policy($main-font, white, 16px, unset, unset);
    }

    .logo img {
        @include resize(100px, auto);
    }

    nav {
        width: 100%;
        @include flex(row, baseline, space-around, nowrap);
        @media screen and (min-width: 641px) {
            align-items: center; // problem with link of active page
            align-self: flex-start;
            margin-top: 20px;
            width: 80%;
        }
        @media screen and (min-width: 769px) {
            width: 60%;
        }

        a {
            @include policy($bold-font, white, 14px, unset, unset);
            text-transform: uppercase;
            text-shadow: 0px 0px 1px darkgrey;
            letter-spacing: 1px;
            @media screen and (min-width: 641px) {

            }
        }

        #bookmark {
            @media screen and (min-width: 641px) {
                @include resize(5px, 30px);
                background-color: $light-red;
                @include position(relative, -55px, 0, 0, 0);
                margin: 0 auto -29px auto;
            }
        }
        #active-page {
            padding-top: 5px;
            border-top: 4px solid $light-red;
            @media screen and (min-width: 641px) {
                padding-top: 0;
                border: none;
            }
        }

        .logo {
            display: none;
            @media screen and (min-width: 641px) {
                display: block;
            }
        }
    }

    .profile-login {
        display: none;
        align-self: flex-start;
        @include position(absolute, 120px, 40px, initial, initial);
        @media screen and (min-width: 641px) {
            display: flex;
        }
        @media screen and (min-width: 769px) {
            @include position(absolute, 53px, 50px, initial, initial);
            a {
                display: block;
            }
        }
        
        .btn-menu {
            @include resize(20px, 21px);
            @media screen and (min-width: 641px) {
                margin-right: 10px;
            }
        }
    }
}

main {
    flex-grow: 1;
}

.frame-elt {
    margin-left: 8%;
    margin-right: 8%;
}

footer {
    background-color: $bg-footer;
    span.howtovegan {
        @include policy(inherit, $link-website, inherit, bold, inherit);
    }
}

#footer-mobile {
    @include flex(row, center, space-between, nowrap);
    padding: 10px;
    @media screen and (min-width: 641px) {
        display: none;
    }

    img {
        @include resize(45px, auto);
        @media screen and (min-width: 376px) {
            @include resize(60px, auto);
        }
    }
    nav {
        width: 80%;
        @include flex(row, unset, space-between, wrap);
    }
    a {
        @include policy($light-font, white, 8px, lighter, unset);
        letter-spacing: 1px;
        @media screen and (min-width: 321px) { // mobile medium
            font-size: 10px;
        }
        @media screen and (min-width: 376px) { // mobile large
            font-size: 12px;
        }
    }
}

#footer-desktop {
    @include flex(row, unset, center, nowrap);
    display: none;
    padding: 30px;
    @include policy($light-font, white, 14px, lighter, unset);
    @media screen and (min-width: 641px) {
        display: flex;
    }

    .aside {
        width: 235px;

        span.howtovegan {
            border-bottom: 3px solid;
            padding-bottom: 10px;
        }

        p:first-child {
            margin-bottom: 30px;
            font-weight: bold;
        }

        .line {
            @include flex(row, baseline, unset, nowrap);
            
            img {
                margin-right: 15px;
            }

            p {
                margin-top: 0;
            }
        }
    }
    .center {
        @include flex(column, center, space-between, wrap);
        text-align: center;
        margin: 0 5%;

        img {
            @include resize(100px, auto);
        }
    }
}

