body {
    background-color: white;
    font-family: "Calibri";
    display: flex;
    justify-content: center;
    align-items: space-between;
}

form {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

select {
    height: 28px;
}