body {
    background-color: #BBBBBB;
    font-family: "Calibri";
}

form {
    width: 150px;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

select {
    height: 28px;
    background-color: transparent;
}