$main-font: 'Signika Regular';
$semibold-font: 'Signika Semibold';
$bold-font: 'Signika Bold';
$light-font: 'Signika Light';

$list-font: 'DK Pimpernel';
$text-font: 'SourceSansPro';
$text-italic-font: 'SourceSansPro Italic';

$bg-color: #efefef;
$bg-footer: #e74919;
$bg-grey: #f7f7f7;

$orange: #f6861b;
$light-red: #e74a18;
$link-website: #9f2600;

$text-color: #444444;
$grey: #bbbbbb;
$text-grey: #555555;
$input-grey: #e6e6e6;
$input-border: #dadada;
$input-label : #999999;

$light-green: #9ec550;
$dark-green: #78a514;
