$main_font: 'Signika Regular';
$bold-font: 'Signika Semibold';
$light-font: 'Signika Light';

$list-font: 'DK Pimpernel';
$text-font: 'Lucida Fax Italic';

$bg-color: #efefef;
$bg-footer: #e74919;

$bookmark: #e74a18;
$link-website: #9f2600;
$text-color: #444444;
$light-green: #9ec550;
$dark-green: #78a514;